<% layout('layout/boilerplate')%>
<div class="row">
    <div class="col-6 offset-3 text-center mt-5">
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">404 - Page Not Found</h4>
            <p>Sorry, the page you are looking for does not exist.</p>
            <hr>
            <a href="/climbRoutes" class="btn btn-primary">Back to Climbing Routes</a>
        </div>
    </div>
</div>